body { font: 14px Helvetica Neue, Aria; }

.chart { margin: 20px; border: 3px solid #ccc; width: 1200px; height: 800px; padding:5px; background: #fff; }

#viz-title { color: #666; font: 28px Helvetica Neue, Arial; margin-left: 300px; }

/* styling for LineChart */
g.axis {
  fill: #666;
  font-size: 12px;
}
line.tick {
  stroke: #666;
}
path.domain{
  fill: none;
  stroke: #333;
}

/* styles for Bullet Chart */
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #669933; }
.bullet .range.s1 { fill: #EEEE33; } /* #FA8349 #EEEE33 */
.bullet .range.s2 { fill: #CA3A46; } 
.bullet .measure.s0 { fill: #CCC; }
.bullet .measure.s1 { fill: #EEE; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
.bullet .marker { stroke: none; }
.bullet text.tip { font-size: 14px; text-anchor: start; }

